<div class="jumbotron">
    <h1>Kohonen neural network application</h1>
    <p class="lead">A Kohonen neural network application using modified competitive learning algorithm for processing input pictures by the network.</p>
    <p><a href="https://en.wikipedia.org/wiki/Self-organizing_map" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>